{
    "tabWidth": 4,
    "endOfLine": "lf",

    "bracketSameLine": false,
    "bracketSpacing": false,

    "singleQuote": true,
    "jsxSingleQuote": true,

    "semi": true,
    "trailingComma": "all",

    "arrowParens": "always"
}
